<div>
  <% if @results.present? %>
      <%= pluralize( @results.count, 'event' ) %> found
      <ul>
        <% @results.each do |event| %>
            <div>
              <ul>
                <li>
                  <%= event.start_time.strftime("%I:%M %P") %> to <%= event.end_time.strftime("%I:%M %P") %>
                  <span> <%= link_to event.name,event_url(event) %> </span>
                  <span> by <%= event.user.name %> </span>
                  <span> |  COMMENTS <%= event.comments.count%> </span>
                  <span> |  PARTICIPANTS <%= event.event_participation.count%> </span>
                </li>
              </ul>
            </div>
        <% end %>
      </ul>
  <% end %>
</div>
