<h1 class="heading">
  Add an event
</h1>
<div class="form" id="create-events-container">
  <%= form_for @event do |f|%>
      <div class="large-3 columns small-12">
        <%= f.label "Date" %>
        <span>
        <%= f.label @event.errors[:date].first || " ", class: "error" %>
      </span>
        <%= f.date_field :date %>
      </div>

      <div class="small-4 half-row-control large-1 columns">
        <%= f.label "From" %>
        <span>
        <%= f.label @event.errors[:start_time].first || " ", class: "error" %>
      </span>
        <%= f.text_field :start_time, id: "start_time" %>
      </div>

      <div class="small-4 half-row-control large-1 columns">
        <%= f.label "To" %>
        <span>
        <%= f.label @event.errors[:end_time].first || " ", class: "error" %>
      </span>
        <%= f.text_field :end_time, id: "end_time" %>
      </div>

      <div class="columns large-8 small-12">
        <%= f.label "Event Name" %>
        <span>
        <%= f.label @event.errors[:name].first || " ", class: "error" %>
      </span>
        <%= f.text_field :name,  placeholder: "Enter event description" %>
      </div>

      <div class="columns large-8 small-12">
        <%= f.label "Event Description" %>
        <span>
        <%= f.label @event.errors[:description].first || " ", class: "error" %>
      </span>
        <%= f.text_area :description, placeholder: "Enter event description" %>
      </div>

      <%= f.hidden_field :user_id %>
      <div class="columns">
      <button name="commit" type="submit" class="success-button">Create Event</button>
      <%= link_to "Discard", events_url, class: "button success-button secondary-button" %>
      </div>
  <% end %>
</div>

<%= content_for :custom_js do %>
    <%= javascript_include_tag "events_controller" %>
    <script type="text/javascript">
      $(function () {
        new EventController("#create-events-container").init();
      });
    </script>
<% end %>
