<div class="event">
  <div class="columns small-12 large-8">
    <h1 id="event-name-header" class="header"><%= @event.name %></h1>
    <div class="event-details-container clearfix">
        <div class="label-value-container small-12 large-4 columns">
          <div class="label">Date</div>
          <div class="value"><%= @event.created_at.strftime("%d-%b-%Y") %></div>
        </div>
        <div class="label-value-container small-4 large-2 columns">
          <div class="label">From</div>
          <div class="value"><%= @event.start_time.strftime("%I:%M %p") %></div>
        </div>
        <div class="label-value-container small-4 large-2 columns">
          <div class="label">To</div>
          <div class="value"><%= @event.end_time.strftime("%I:%M %p") %></div>
        </div>
        <div class="label-value-container small-12 large-12 columns">
          <div class="label">Event Name</div>
          <div class="value"><%= @event.name %></div>
        </div>
        <div class="label-value-container small-12 large-12 columns">
          <div class="label">Description</div>
          <div class="value"><%= @event.description %></div>
        </div>
        <% if current_user && @event.user_id == current_user.id %>
          <div class="columns">
            <%= link_to 'Edit Event', edit_event_path, class: "button success-button" %>
            <%= link_to 'Cancel Event', @event, :method => :delete, :confirm => 'Are you sure?', class: "button success-button failure-button" %>
          </div>
        <% else %>
          <div class="label-value-container small-12 large-12 columns">
            <div class="label">Organizer</div>
            <div class="value"><%= @event.user.name %></div>
          </div>
          <% if current_user %>
              <% if EventParticipation.where("user_id =" + current_user.id.to_s+" AND event_id = " +@event.id.to_s).count == 0 %>
                    <%= link_to "Attend this event", new_event_participation_path(:event_participation => {:user_id => current_user.id, :event_id => @event.id}), class: "button success-button" %>
              <% else %>
                    <%= link_to "Unsubscribe from this event", event_participation_path(:event_participation => {:user_id => current_user.id, :event_id => @event.id}), :method => :delete, class: "button success-button failure-button" %>
              <% end %>
          <% end %>
        <% end %>
    </div>
  </div>
  <div id="participants-container" class="columns small-12 large-4">
    <h4 class="header" id="participants-header">Participants (<%= @event_participants.count %>)</h4>
    <ul class="">
      <% @event_participants.each do |event_participant| %>
          <li>
            <div><%= event_participant.user.name %></div>
          </li>
      <% end %>
    </ul>
  </div>
  <div id="comments-container" class="columns small-12 large-8">
      <h4 class="header" id="comments-header"><%=image_tag "comments-icon.png", class: "comments-icon" %> Comments (<%= @all_comments.count %>)</h4>
      <% if user_signed_in? %>
          <%= form_for @comment do |f| %>
              <div>
                <%= f.text_area :body, placeholder: "Post your queries/suggestions/comments here", class: "row" %>
                <%= f.hidden_field :user_id %>
                <%= f.hidden_field :event_id %>
                <button name="commit" type="submit" class="button success-button secondary-button">Submit</button>
              </div>
          <% end %>
      <% end %>
      <ul class="comment_listing">
        <% @all_comments.each do |comment| %>
            <li>
              <div class="user-name"><%= comment.user.name %> <span class="small-text">wrote:</span></div>
              <div class="comment-posted-time"><%= time_ago_in_words(comment.created_at) + " ago" %></div>
              <p>
                <%= comment.body %>
              </p>
              <%= link_to 'Delete', comment_path(comment.id), :method => :delete if current_user && comment.user_id == current_user.id %>
            </li>
        <% end %>
      </ul>
  </div>
</div>