<div class="sign-up-container clearfix large-4 small-12">
  <h2>Sign in</h2>
  <div class="errors">
    <%= flash[:error] %>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %></div>

    <div><%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
    <div>
      <button name="commit" type="submit" class="success-button button">Sign in</button>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class: "button success-button secondary-button" %>
    </div>
  <% end %>
</div>
<%#= render "devise/shared/links" %>
