<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400,300' rel='stylesheet' type='text/css'>
  <title><%= content_for?(:title) ? yield(:title) : "Gift your time!" %></title>

  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render "shared/top_bar" %>

  <div id="notice-msgs" class="hide"><%= notice %></div>
  <div id="alert-msgs" class="hide"><%= alert %></div>

  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= yield :custom_js %>
  <script type="text/javascript">
    new NotificationController("#notice-msgs", "#alert-msgs").showNotifications();
  </script>
</body>
</html>